@model IEnumerable<U5_W4_BuildWeek.Models.DbModels.Medicinali>

@{
    ViewBag.Title = "Index";
}

<div class="row">
    @foreach (var m in Model)
    {
        <div class="col-md-4">
            <div class="card mb-4 h-100">
                <div class="card-body">
                    <h5 class="card-title">@m.Nome</h5>
                    <p class="card-text"><strong>Costo:</strong> @string.Format("{0:C}", m.Costo)</p>
                    <p class="card-text"><strong>Descrizione:</strong> @m.Descrizione</p>
                  
                    <p class="card-text">

                        <strong>Tipologia:</strong>
                        @if (m.Medicinale)
                        {
                        <span> Medicinale </span>
                    }
                    else
                    {
                        <span> Alimento </span>
                    }
                        </p>
                        <a href="@Url.Action("Acquista", new { id = m.Id })" class="btn btn-success">Acquista</a>
                    </div>
                </div>
            </div>
        }
</div>