/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Farmacia */

.product-section {
    margin-top: 20px;
}

.product-container {
    display: flex;
}

.filter-panel {
    width: 200px;
    padding: 10px;
    box-shadow: 2px 2px 5px #888888;
    background-color: white;
    text-align: left;
    height: 320px; 
}

.filter-button {
    display: block;
    margin-bottom: 10px;
}

.product-list {
    flex: 1;
    text-align: left;
}

    .product-list hr {
        margin: 10px 0;
    }

.product-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 10px 0;
    border-bottom: solid 1px gainsboro ;
}

.product-details {
    flex: 1;
    padding-right: 20px;
}

.product-button {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-self: flex-end;
    text-align: right;
}


.add-to-cart {
    font-weight: bold;
}


.product-price {
    font-weight: bold;
}

/*style visite*/
.table-visite {
    font-family: "Poppins", sans-serif;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    max-width: calc(100% - 2em);
    margin: 2em auto 0 auto;
    overflow: hidden;
    width: 90%;
    margin-bottom:4rem
}

.headV {
    background-color: #56baed;
    color: white;
    font-size: 1.1em;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
}