body {
}

/* PAGINA LOGIN */
#sectionLogin {
    .cascading-right {
        margin-right: -50px;
    }

    @media (max-width: 991.98px) {
        .cascading-right {
            margin-right: 0;
        }
    }
}
/* PAGINA LOGIN */

/* PAGINA REGISTER */
#sectionRegister {
    .cascading-right {
        margin-right: -50px;
    }

    @media (max-width: 991.98px) {
        .cascading-right {
            margin-right: 0;
        }
    }
}
/* PAGINA REGISTER */

/* PAGINA HOME */
#faqAnimali {
    height: 20em;
    background-image:url(templates/yootheme/cache/25/sfondo_articoli_piu_letti-25b62bfc.jpeg);
    
    .card-body {
        a {
            color: #0094ff;
            text-decoration: none;
        }
    }

    .card-body a:hover {
        text-decoration: underline;
    }
}

#body-form {
    background: -webkit-linear-gradient(left, #0072ff, #00c6ff);
    padding: 5%;

    .contact-form {
        background: white;
        width: 70%;
        border-radius: 1rem;

        h3 {
            margin-bottom: 8%;
            margin-top: -10%;
            text-align: center;
            color: #0062cc;
        }

        .btnContact {
            width: 50%;
            border: none;
            border-radius: 1rem;
            padding: 1.5%;
            background: #dc3545;
            font-weight: 600;
            color: #fff;
            cursor: pointer;
        }

        .btnContactSubmit {
            width: 50%;
            border-radius: 1rem;
            padding: 1.5%;
            color: #fff;
            background-color: #0062cc;
            border: none;
            cursor: pointer;
        }

        form {
            padding: 14%;

            .row {
                margin-bottom: -7%;
            }
        }

        .form-control {
            border-radius: 1rem;
        }

        .contact-image {
            text-align: center;

            img {
                border-radius: 6rem;
                width: 11%;
                margin-top: -3%;
                transform: rotate(29deg);
            }
        }
    }
}
/* PAGINA HOME */




/* FORM REGISTRA ANIMALE */

@import url('https://fonts.googleapis.com/css?family=Poppins');

/* STRUCTURE */
.form-container {
    font-family: "Poppins", sans-serif;
    position: relative;

}

.form-container::before {
    content: "";
    background-image: url(home/dog_and_bones_pattern.jpg);
    background-size: 1000px;
    background-position-y: -15px;
    opacity: 0.8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px 20px 100px 20px;
}

#formContent {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding-top: 2em;
    padding-bottom: 2em;
    width: 90%;
    max-width: 650px;
    position: relative;
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
}

.titolo {
    font-size: 2em;
    font-weight: 600;
    text-transform: uppercase;
    padding: 40px 0px 10px 0px;
    color: #cccccc;
    display: flex;
    justify-content: center;
}

.label-form {
    font-size: 1.1em;
    margin-bottom: 0.3em;
}

.backLink {
    color: #56baed;
    text-decoration: none;
}

.star {
    color: red;
}

/* FORM TYPOGRAPHY*/

input[type=submit]{
    background-color: #56baed;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
}

input[type=submit]:hover {
    background-color: #39ace7;
}

input[type=submit]:active {
    transform: scale(0.95);
}

input[type=text] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 5px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    border-radius: 5px 5px 5px 5px;
}

/* ANIMATIONS */

.fadeInDown {
    animation-name: fadeInDown;
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    opacity: 0;
    animation: fadeIn ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}

/* TABELLA LISTA ANIMALI */

$imageSmall: 60px;

.table-container {
    position: relative;
}

.table-container::before {
    content: "";
    background-image: url(home/dog_and_bones_pattern.jpg);
    background-size: 500px;
    opacity: 0.8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.header {
    background-color: #56baed;
    color: white;
    font-size: 1.1em;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
}

.table-animali {
    font-family: "Poppins", sans-serif;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    max-width: calc(100% - 2em);
    margin: 2em auto 0 auto;
    overflow: hidden;
    width: 90%;
}

.animal-picture {
    border-radius: 50%;
    border: 3px solid #196f9b9e;
    height: $imageSmall;
    width: $imageSmall;
    object-fit: cover;
    box-shadow: -4px 2px 8px 0px rgba(0, 0, 0, 0.3)
}

.table-icon {
    color: #196f9b;
    padding: 0px 0.5em 0 0.5em;
}

.aggiungi {
    display: flex;
    justify-content: center;
    padding-top: 2em;
}

.add-icon {
    font-size: 2em;
}

table {
    width: 100%;
    font-weight: bold;

    th {
        padding: 20px 15px 20px 15px;
        color: #196f9b;
        background-color: #f6f6f6;
        font-weight: 300;
        text-transform: uppercase;
    }

    td {
        color: #212529;
        padding: 8px 15px 8px 15px;
    }

    td {
        text-align: left;
        vertical-align: middle;

        &:last-child {
            font-size: 0.95em;
            line-height: 1.4;
            text-align: left;
        }
    }

    tr {
        &:nth-child(2n) {
            background-color: white;
        }

        &:nth-child(2n+1) {
            background-color: #56baed33;
        }
    }

    p {
        margin: 0;
    }
}
