@import url("https://fonts.googleapis.com/css?family=Poppins");
/* PAGINA LOGIN */
#sectionLogin .cascading-right {
  margin-right: -50px;
}
@media (max-width: 991.98px) {
  #sectionLogin .cascading-right {
    margin-right: 0;
  }
}

/* PAGINA LOGIN */
/* PAGINA REGISTER */
#sectionRegister .cascading-right {
  margin-right: -50px;
}
@media (max-width: 991.98px) {
  #sectionRegister .cascading-right {
    margin-right: 0;
  }
}

/* PAGINA REGISTER */
/* PAGINA HOME */
#faqAnimali {
  height: 20em;
  background-image: url(templates/yootheme/cache/25/sfondo_articoli_piu_letti-25b62bfc.jpeg);
}
#faqAnimali .card-body a {
  color: #0094ff;
  text-decoration: none;
}
#faqAnimali .card-body a:hover {
  text-decoration: underline;
}

#body-form {
  background: -webkit-linear-gradient(left, #0072ff, #00c6ff);
  padding: 5%;
}
#body-form .contact-form {
  background: white;
  width: 70%;
  border-radius: 1rem;
}
#body-form .contact-form h3 {
  margin-bottom: 8%;
  margin-top: -10%;
  text-align: center;
  color: #0062cc;
}
#body-form .contact-form .btnContact {
  width: 50%;
  border: none;
  border-radius: 1rem;
  padding: 1.5%;
  background: #dc3545;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}
#body-form .contact-form .btnContactSubmit {
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  color: #fff;
  background-color: #0062cc;
  border: none;
  cursor: pointer;
}
#body-form .contact-form form {
  padding: 14%;
}
#body-form .contact-form form .row {
  margin-bottom: -7%;
}
#body-form .contact-form .form-control {
  border-radius: 1rem;
}
#body-form .contact-form .contact-image {
  text-align: center;
}
#body-form .contact-form .contact-image img {
  border-radius: 6rem;
  width: 11%;
  margin-top: -3%;
  transform: rotate(29deg);
}

/* PAGINA HOME */
/* FORM REGISTRA ANIMALE */
/* STRUCTURE */
.form-container {
  font-family: "Poppins", sans-serif;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px 20px 100px 20px;
}

#formContent {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding-top: 2em;
  padding-bottom: 2em;
  width: 90%;
  max-width: 650px;
  position: relative;
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
}

.titolo {
  font-size: 2em;
  font-weight: 600;
  text-transform: uppercase;
  margin: 40px 8px 10px 8px;
  color: #cccccc;
  display: flex;
  justify-content: center;
}

.label-form {
  font-size: 1.1em;
  margin-bottom: 0.3em;
}

.backLink {
  color: #56baed;
  text-decoration: none;
}

.star {
  color: red;
}

/* FORM TYPOGRAPHY*/
input[type=submit] {
  background-color: #56baed;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
}

input[type=submit]:hover {
  background-color: #39ace7;
}

input[type=submit]:active {
  transform: scale(0.95);
}

input[type=text] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 5px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  border-radius: 5px 5px 5px 5px;
}

/* ANIMATIONS */
.fadeInDown {
  animation-name: fadeInDown;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeIn {
  opacity: 0;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

/* TABELLA LISTA ANIMALI */
.header {
  background-color: #327a81;
  color: white;
  font-size: 1.5em;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
}

img {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  object-fit: cover;
}

.table-animali {
  border: 1px solid #327a81;
  border-radius: 10px;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
  max-width: calc(100% - 2em);
  margin: 1em auto;
  overflow: hidden;
  width: 90%;
}

table {
  width: 100%;
}
table td, table th {
  color: #2b686e;
  padding: 10px;
}
table td {
  text-align: left;
  vertical-align: middle;
}
table td:last-child {
  font-size: 0.95em;
  line-height: 1.4;
  text-align: left;
}
table th {
  background-color: #daeff1;
  font-weight: 300;
}
table tr:nth-child(2n) {
  background-color: white;
}
table tr:nth-child(2n+1) {
  background-color: #edf7f8;
}
table p {
  margin: 0;
}

@media screen and (max-width: 700px) {
  table, tr, td {
    display: block;
  }
  td:first-child {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100px;
  }
  td:not(:first-child) {
    clear: both;
    margin-left: 100px;
    padding: 4px 20px 4px 90px;
    position: relative;
    text-align: left;
  }
  td:not(:first-child):before {
    color: #91ced4;
    content: "";
    display: block;
    left: 0;
    position: absolute;
  }
  td:nth-child(2):before {
    content: "Name:";
  }
  td:nth-child(3):before {
    content: "Email:";
  }
  td:nth-child(4):before {
    content: "Phone:";
  }
  td:nth-child(5):before {
    content: "Comments:";
  }
  tr {
    padding: 10px 0;
    position: relative;
  }
  tr:first-child {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .header {
    background-color: transparent;
    color: white;
    font-size: 2em;
    font-weight: 700;
    padding: 0;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
  }
  img {
    border: 3px solid;
    border-color: #daeff1;
    height: 100px;
    margin: 0.5rem 0;
    width: 100px;
  }
  td:first-child {
    background-color: #c8e7ea;
    border-bottom: 1px solid #91ced4;
    border-radius: 10px 10px 0 0;
    position: relative;
    top: 0;
    transform: translateY(0);
    width: 100%;
  }
  td:not(:first-child) {
    margin: 0;
    padding: 5px 1em;
    width: 100%;
  }
  td:not(:first-child):before {
    font-size: 0.8em;
    padding-top: 0.3em;
    position: relative;
  }
  td:last-child {
    padding-bottom: 1rem !important;
  }
  tr {
    background-color: white !important;
    border: 1px solid #6cbec6;
    border-radius: 10px;
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
    margin: 0.5rem 0;
    padding: 0;
  }
  .table-users {
    border: none;
    box-shadow: none;
    overflow: visible;
  }
}
