@{
    ViewBag.Title = "VenditePerCliente";
}

<h2>Cerca</h2>

<div>
    <input type="text" id="cf" placeholder="Inserisci il tuo Codice Fiscale" />
    <button id="inviaNome">Cerca</button>
</div>
<div id="risultati">
    <table class="table">
        <thead>
            <tr>
                <th>Data della vendita</th>
                <th>Prodotto venduto</th>
            </tr>
        </thead>
        <tbody id="dettagliVendita"></tbody>
    </table>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $('#inviaNome').click(function () {
                var Cf = $('#cf').val();
                $.ajax({
                    type: "POST",
                    url: "/Medicinali/RicercaCF",
                    data: { Cf: Cf },
                    success: function (data) {
                        if (data.length > 0) {
                            var dettagliVendita = $("#dettagliVendita");
                            dettagliVendita.empty();
                            $.each(data, function (index, vendita) {
                                dettagliVendita.append('<tr>');
                                dettagliVendita.append('<td>' + vendita.Data + '</td>');
                                dettagliVendita.append('<td>' + vendita.Medicina + '</td>');
                                dettagliVendita.append('</tr>');
                            });
                        } else {
                            $("#dettagliVendita").html("Nessun risultato trovato.");
                        }
                    }
                });
            });
        });
    </script>
}
