
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<button onclick="filtra()"> filtra </button>


@foreach (U5_W4_BuildWeek.Models.DbModels.AnimaliTipologia razza in ViewBag.Tipologie)
{
    <input type="checkbox" id="@razza.Id" />
    <label for="@razza.Id"> @razza.Tipologia</label>
    <br>
}

@if (User.IsInRole("Admin") || User.IsInRole("Veterinario"))
{
    <div class="d-flex justify-content-center">
        <button onclick="RicoveriList()" class="btn btn-primary my-3 siteButton"> Ottieni tutti i ricoveri </button>
    </div>
}

<div id="tab" class="table-container d-none">
    <div class="table-animali">
        <div class="header">Ricovero animali</div>
        <table id="tabdati">
            <tr>
                <th>Nome</th>
                <th>Inizio Ricovero</th>
                <th>Giorni trascorsi</th>
                <th>Data nascita presunta</th>
                <th>MicroChip</th>
                <th>Razza</th>
            </tr>
        </table>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/MyScripts/RicoveriIndex.js"></script>
}

