
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<button onclick="filtra()"> filtra </button>


@foreach (U5_W4_BuildWeek.Models.DbModels.AnimaliTipologia razza in ViewBag.Tipologie)
{
    <input type="checkbox" id="@razza.Id" />
    <label for="@razza.Id"> @razza.Tipologia</label>
    <br>
}

@if (User.IsInRole("Admin") || User.IsInRole("Veterinario"))
{
    <button onclick="RicoveriList()"> Ottieni tutti i ricoveri </button>
}

<div id="agg"></div>
<table id="tab" class='table d-none'>

</table>

@section scripts
{
        <script src="~/Scripts/MyScripts/RicoveriIndex.js"></script>
}

