
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<button onclick="filtra()"> filtra </button>


@foreach (U5_W4_BuildWeek.Models.DbModels.AnimaliTipologia razza in ViewBag.Tipologie)
{
    <input type="checkbox" id="@razza.Id" />
    <label for="@razza.Id"> @razza.Tipologia</label>
    <br>
}


<div id="agg"></div>

<script>

    function filtra() {

        //Mi prendo le checkbox
        let lista = []
        $(':checkbox').each(function () {
            if (this.checked)
                lista.push($(this).attr("id"))
        });

        //Faccio la chiamata asincrona
        $.ajax
            ({
                method: 'POST',
                url: "Ricoveri/RicoveriFilter",
                data:
                {
                    Tipologie: lista
                },
                success: function (animali) {
                    $("#agg").empty()
                    $.each(animali, function (i, item) {
                        let card =
                            "<div class='card' style='width: 18rem;'>" +
                            "<img src = '...' class='card-img-top' alt = '..'>" +
                            "<div class='card-body'> " +
                            "<h5 class='card-title'>" + item.Nome + "</h5> " +
                            "<p class='card-text'>" + item.Colore + "</p>" +
                            "<a href='#' class='btn btn-primary'>Go somewhere</a> " +
                            "</div>" +
                            "</div>"


                        $("#agg").append(card)
                    })
                },
                error: function (e) {
                    console.log(e)
                }
            })
    }

</script>